Body {background: greenyellow;
    color: black;
    font-size: 18pt;
    font-family: 'Indie Flower', cursive;
}

h1{font-family: 'Notable', sans-serif;}

head {font-size: 30pt
    font-family: 'Notable', sans-serif;}

h2{font-family: 'Permanent Marker', cursive;}
